* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    /* ЯРКИЙ градиент — сразу видно */
    background: linear-gradient(270deg, 
        #750a40 0%, 
        #bd13a1 50%, 
        #9b16b6 100%
    );
    
    min-height: 100vh;
}

.mine {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: linear-gradient(250deg,
    #6b0d32 0%,      
    #a33d6b 30%,     
    #c97bbf 60%,     
    #e6c6ff 100%
    );
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    z-index: 100;
}

.navbar {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    list-style: none;
    gap: 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 5px 10px;
}

.navbar a:link,
.navbar a:visited,
.navbar a:hover,
.navbar a:active {
    color: white;
}

.navbar a:hover {
    color: #e6e6e6;
}

.banner {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
    margin-top: 70px;
}

.banner-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 50px;
    font-weight: bold;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
    margin: 0;
    z-index: 2;
}

.content {
    max-width: 760px;
    margin: 50px auto 80px;
    padding: 40px 30px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(4px);
    border-radius: 16px;
    box-shadow: 0 6px 20px rgba(0, 0, 190, 0.1);
    text-align: center;
}

.content h1 {
    font-size: 36px;
    color: #c38ed8;
    margin-bottom: 30px;
    font-weight: 700;
}

.content ol {
    list-style: none;
    padding-left: 0;
    margin-bottom: 35px;
    counter-reset: item;
}

.content ol li {
    font-size: 19px;
    line-height: 1.6;
    margin-bottom: 18px;
    position: relative;
    padding-left: 45px;
    color:#f1abee
}

.content ol li::before {
    content: counter(item);
    counter-increment: item;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #cc94dd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 12px;
}

.content h3 {
    font-size: 28px;
    color: #d0aee7;
    font-weight: 600;
    margin-top: 20px;
    letter-spacing: 0.5px;
}

.content ol li:hover {
    transform: translateX(5px);
    transition: transform 0.3s ease;
}
